{% extends "MainBundle::layout.html.twig" %}

{% block title %}Oops! This page is not longer available{% endblock %}

{% block content %}
    <div class="row">
        <div class="span3 bugdroid">
            <img src="{{ asset('/bundles/common/images/android-bug.png') }}">
        </div>
        <div class="span9 error-message">
            <h2>Oops! This page is not longer available</h2>

            <p>This page may have moved or is no longer available.</p>
        </div>
    </div>
{% endblock %}
