<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Julien Brochet, Sébastien Brochet" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
        <link rel="publisher" href="https://plus.google.com/105275534595142567234/" />
        <title>Oops.. an error occurred - AndroIRC (Android IRC Client)</title>
        <style>
            body {
              background-color: #222;
              font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
              color: #fff;
              font-size: 15px;
              line-height: 1.7;
            }

            #smile {
                font-size: 76px;
                margin-bottom: 15px;
            }

            #container {
              width: 800px;
              margin: 35px auto;
              text-align: center;
            }

            h1 {
              text-align: center;
              font-weight: normal;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="smile">:(</div>

            <h1>Oops.. an error occurred</h1>

            <div>
                Something is broken. Please e-mail us at admin@madalynn.eu and let
                us know what you were doing when this error occurred. We will fix it
                as soon as possible. Sorry for any inconvenience caused.
            </div>
        </div>
    </body>
</html>