{% extends "MainBundle::layout.html.twig" %}

{% block title %}You don't have permission to access this page{% endblock %}

{% block content %}
    <div class="row">
        <div class="span3 error-picture">
            <img src="{{ asset('/bundles/common/images/gandalf.png') }}">
        </div>
        <div class="span9 error-message">
            <h2>Mhh.. Forbidden</h2>

            <p>You don't have permission to access this page.</p>
        </div>
    </div>
{% endblock %}
