web/bundles/
web/js/
web/css/
web/uploads/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
app/config/parameters.yml
app/config/deployment.yml
app/config/deploy.config.rb
app/SymfonyRequirements.php
vendor/
.DS_Store
composer.phar
Capfile
bin/
!/bin/maintenance
!/bin/travis
!/bin/translations
