{% extends "AndroBundle:Article:layout.mobile.html.twig" %}

{% block content %}
    <p>
        AndroIRC is an <strong>Android IRC client</strong> which can connect to several server (secured or not)
        at the same time. Features: supports <a href="http://www.mirc.com">mIRC</a> colors, auto join channels
        on startup, nickserv/sasl auth, logging, themes...
    </p>

    {% for article in articles %}
        {% include 'AndroBundle:Article:article.mobile.html.twig' with { 'article': article, 'sumup': true } %}
    {% endfor %}
{% endblock %}