<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} - AndroIRC (Android IRC Client)</title>
        {% if version.major >= 5 and version.minor >= 3 %}
        <link rel="stylesheet" type="text/css" href="http://app.androirc.com/style.css">
        {% else %}
        <style type="text/css">
            body {
              font-family: Roboto, Arial, Helvetica, sans-serif;
              font-size: 12px;
              line-height: 1.5;
            }

            {% if theme == 'light' %}
                body {
                    background-color: #eeeeee;
                    color: #6d6d6d;
                }

                h1, h2 {
                    color: #1f1f1f;
                }

                a, a:hover {
                    text-decoration: underline;
                    color: #009688;
                }
            {% else %}
                body {
                    background-color: #424242;
                    color: #c7c7c7;
                }

                h1, h2 {
                    color: #ffffff;
                }

                a, a:hover {
                    text-decoration: underline;
                    color: #539FA3;
                }
            {% endif %}


            h1 {
              font-size: 18px;
            }

            h2 {
              font-size: 15px;
            }

            p {
              text-align: justify;
              padding: 0 5px;
            }
        </style>
        {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
