<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} - AndroIRC (Android IRC Client)</title>
        <style type="text/css">
            body {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 12px;
              line-height: 1.5;
            }

            {% if theme == 'light' %}
                body {
                    color: #8A8A8A;
                }
            {% else %}
                body {
                    background-color: #282828;
                    color: #f3f3f3;
                }
            {% endif %}

            h1, h2 {
                color: #026995;
            }

            h1 {
              font-size: 18px;
            }

            h2 {
              font-size: 15px;
            }

            p {
              text-align: justify;
              padding: 0 5px;
            }

            a, a:hover {
              text-decoration: underline;
              color: #026995;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
