{% extends "AndroBundle::frontend.html.twig" %}

{% block title %}Donate{% endblock %}

{% block content %}
    <div class="center">
        <a id="support_link" href="{{ path('donate') }}"><span></span>You like AndroIRC? Support it!</a>

        <p id="donate">AndroIRC is <strong>free</strong> and you can download it <strong>FOR FREE</strong> in the Market. But we have <strong>charges</strong> concerning the server administration. If you want to support AndroIRC, you have currently two ways :</p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBdNSXflGfJjH5KFomR/VYJF4iYQCXdfYC2GTWYtTRbzn8+4ClPB98q4BCFhTAxA50yaBYjuTxZpqAlPa/iLKaSkHzNYvkC+qXhg/2rrXtQlx1j1Spavmv85NkIfFhqUWZxvU/z8NmNO17vj/utWCO/2p/HAWG8NvXUHPE9GhAcZzELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQITS/EE7uZKHCAgYicjXHrflaA3fX7+TnDsbh3h4XXjBbAszj33GqqW7bedBAxn4b4I5FfjE2zRywdh9YfTeKSPAirtXlfFSapremg7Tnaw3EEYfTAhJO/hXIEMsVVRVSo+auQVS17CVx90cGVX14RJrOCM1j13mMLOZqGFn8+eryY6QpD0MwrD+u3MQaZcQF+m31FoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTAwNzI2MjE1MzUxWjAjBgkqhkiG9w0BCQQxFgQUGmdSAmFxP3O7PP8CyGcMa+9Q4j0wDQYJKoZIhvcNAQEBBQAEgYAoXGFwsT6140ExnXB8lUrRw72r7K/f5KQcTRaVqSRaRxlPtC8jfgdlfdCsPQlHCvMh/os6vJ+SPz0J09hYQmlMYOPK7DfmUSkKNbKR2G4sNIymyJtnUb0vAqn7HKh/Z+4xFExE280Bcu3hCVwUfBNQhAf6UFKM8BrphjjEKT756w==-----END PKCS7-----" />
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
            <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div>

    <p>Many thanks to :</p>
    <ul>
        {% for donator in donators %}
            <li><strong>{{ donator.name }}</strong> (${{ donator.amount }})</li>
        {% endfor %}
    </ul>

    <p>
        You can also download the premium application "<strong>AndroIRC premium</strong>".
        This application just disable ads on AndroIRC. More information <a href="https://market.android.com/details?id=com.androirc.premium">here</a>
    </p>
{% endblock %}