{% extends "AndroBundle:Article:layout.mobile.html.twig" %}

{% block content %}
    <p>
        {{ 'homepage.introduction'|trans }}
    </p>

    {% for article in articles %}
        {% include 'AndroBundle:Article:article.mobile.html.twig' with {'article': article, 'sumup': true} %}
    {% endfor %}
{% endblock %}
