{% extends "AdminBundle::backend.html.twig" %}

{% block page %}
    <h1>{{ 'version.base.title'|trans }}</h1>

    <div class="center">
        <a class="btn btn-large" href="#">{{ 'version.base.androirc'|trans }}</a>
        <a class="btn btn-large" href="#">{{ 'version.base.android'|trans }}</a>
    </div>
{% endblock %}