{% extends "AdminBundle::backend.html.twig" %}

{% block page %}
    <h1>{{ 'version.base.title'|trans }}</h1>

    <div class="center">
        <a id="android-version" href="#"></a>
        <a id="androirc-version" href="#"></a>
    </div>
{% endblock %}