[parameters]
    database_driver   = pdo_mysql
    database_host     = localhost
    database_port     =
    database_name     = androbundle
    database_user     = root
    database_password =

    java_path         = "C:\java\bin\java.exe"
    locale            = en

    secret            = 2748285f70343363563f4627716a6361

    akismet_api_key   = 4c2966625c536b392131254e5f7b2e78

    deploy_password   = 2d68255d9284b76