/* Header configuration */

header {
    width: 800px;
    margin: auto;
    position: relative;
}

#ads {
    position: absolute;
    top: 40px;
    right: 25px;
}

#social {
    position: absolute;
    top: 15px;
    left: 197px;
    z-index: 10;
}

#space {
    height: 44px;
    background: url("/bundles/andro/images/header_bottom.png");
}

#logo {
    width: 284px;
    height: 75px;
    top: 20px;
    position: absolute;
}

#locales {
    position: absolute;
    top: 9px;
    right: 25px;
    z-index: 50;
}

.locale {
    float: right;
    margin-left: 5px;
}

/* Content */

#content {
    width: 540px;
    float: left;
    padding-right: 10px;
}

/* Side bar */

aside {
    width: 230px;
    float: left;
}

.google-play {
    margin-bottom: 10px;
}

.sidebar_box {
    margin-bottom: 20px;
}

.team_member {
    padding: 5px 20px;
}

#facebook {
    margin-bottom: 10px;
}

#qrcodes-box {
    width: 230px;
    height: 120px;
    position: relative;
}

#qrcodes {
    position: absolute;
    left: 14px;
    top: 20px;
}

#qrcodes-free, #qrcodes-premium {
    position: absolute;
    width: 87px;
    height: 20px;
    text-align: center;
    color: #026995;
    font-size: 14px;
    top: -5px;
}

#qrcodes-free {
    left: 14px;
}

#qrcodes-premium {
    left: 129px;
}

.app {
    text-align: center;
}

.app .title {
    font-weight: bold;
    font-size: 15px;
}

#team_box .member {
    float: left;
    padding-left: 20px;
}

/* Others */

#page {
    width: 800px;
    margin: 0 auto;
    padding-top: 15px;
}

/* Footer */

footer {
    margin-top: 15px;
    background-color: #EEEEEE;
}

footer > div {
    width: 840px;
    margin: 0 auto;
}

footer .column {
    color: #777777;
    width: 240px;
    float: left;
    margin: 20px;
}

footer .cell {
    display: table-cell;
    width: 200px;
    padding: 0 20px;
}

#about {
    text-align: right;
}

#about img {
    margin: 3px;
}

/* Alerts */

.alert {
    padding: 8px 14px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}
.alert, .alert-heading {
    color: #c09853;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success, .alert-success .alert-heading {
    color: #468847;
}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger, .alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
    color: #b94a48;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info, .alert-info .alert-heading {
    color: #3a87ad;
}
