/* Menu length */

nav#menu ul {
    width: 800px;
}

/* Posts */

#introduction {
    margin: 15px 0;
}

#support_link {
    font-size: 26px;
    position: relative;
    color: #464646;
}

#support_link:hover {
    text-decoration: none;
}

#support_link span {
    background: url("/bundles/andro/images/gradient-glossy.png") repeat-x;
    position: absolute;
    display: block;
    width: 100%;
    height: 18px;
}

/* Donate page */

#donate {
    margin-top: 10px;
}

#screenshots {
    background-image: none;
    margin: 0;
    padding: 0;
    width:300px;
    margin: 0 auto;
}

#screenshots li {
    background-image: none;
    padding: 0;
    margin: 0;
}

/* Others */

#switch_format {
    text-align: center;
    margin-bottom: 15px;
}

/* Listes */

#page ul {
    margin: 10px 0 10px 30px;
}

#page li {
    list-style-type: none;
    background-image: url("/bundles/andro/images/puce.png");
    background-repeat: no-repeat;
    background-position: 0 -2px;
    padding-left: 22px;
    display : list-item;
    list-style-position:inside;
    padding-bottom: 2px;
}


#page ol {
    list-style-type: decimal;
}

/* Screenshots */

#slider {
    margin: 0 !important;
}

#slider .device {
    text-align: center;
}

#slider li {
    background-image: none !important;
    background-position: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: list-item !important;
}

.thumbs {
    border-top: 3px solid #bfbfbf;
    padding-top: 5px;
    margin-top: 15px;
}

.thumbs img {
    margin: 10px 5px;
}

.pager-active {
    border-bottom: solid #026995 2px;
}