{% block form_row %}
{% spaceless %}
    <div class="control-group {% if errors|length > 0 %}error{% endif %}">
        {{ form_label(form, label|default(null)) }}
         <div class="controls">
            {{ form_widget(form) }}

            {#
            If the child is a compound form, the errors are rendered inside
            the container. See also block form_rows.
            #}
            {% if not compound %}
                {{ form_errors(form) }}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}