{% extends "AdminBundle::backend.html.twig" %}

{% block page %}
    <h1>{{ block('title') }}</h1>

    {% block content %}{% endblock %}

    <div id="entity_actions">
        {% block entity_actions %}
            <a class="awesome" href="{{ path('admin_' ~ entity_name ~ '_new') }}">
                Create a new entry
            </a>
        {% endblock %}
    </div>

    <div class="clear"></div>

    <div class="paginator">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager) }}
        {% endif %}
    </div>
{% endblock %}