{% extends "MainBundle::frontend.html.twig" %}

{% block title %}{{ 'frontend.menu.blog'|trans }}{% endblock %}
{% block description %}{{ 'frontend.blog.description'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span blog-container">
            {% for article in articles %}
                {% include 'MainBundle:Blog:article_skeleton.html.twig' with {article: article}%}
            {% endfor %}
        </div>
        <div class="span archives-container">
            {% render 'MainBundle:Blog:menu' %}
        </div>
    </div>
{% endblock %}
