<h2>ChangeLog AndroIRC {{ changelog.version }}</h2>

<ul>
    {% for change in changelog.changes %}
        <li>
            {% if change.key %}
                <strong>{{ change.key }}</strong>
            {% endif %}

            {{ change.content }}
        </li>
    {% endfor %}
</ul>