{% extends "MainBundle::basic.html.twig" %}

{% block title %}Changelogs{% endblock %}

{% block content %}
    <h1>ChangeLog AndroIRC {{ changelog.version }}</h1>
    {{ changelog(changelog) }}
{% endblock %}
