{% extends "AndroBundle:Article:layout.html.twig" %}

{% block title %}Archives{% endblock %}

{% block content %}
    {% include 'AndroBundle:Main:translation_not_available.html.twig' %}

    {% if pager.haveToPaginate %}
        <div class="paginator">
            {{ pagerfanta(pager) }}
        </div>
    {% endif %}

    {% for article in pager %}
        {% include 'AndroBundle:Article:article.html.twig' with { 'article': article, 'sumup': true } %}
    {% else %}
        No articles at this time
    {% endfor %}

    {% if pager.haveToPaginate %}
        <div class="paginator">
            {{ pagerfanta(pager) }}
        </div>
    {% endif %}
{% endblock %}