{% extends "MainBundle::frontend.html.twig" %}

{% block title %}{{ 'beta.name'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span3 offset5" style="border: 1px solid black;">
        fd
        </div>
    </div>
{% endblock %}
