{% extends "MainBundle::frontend.html.twig" %}

{% block title %}{{ 'beta.name'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span6" style="border:1px solid black;">
        fdfs
        </div>
        <div class="span black-box">
            <div class="beta-picture">
                <img src="{{ asset('/bundles/common/images/beta.png') }}" />
            </div>
             <div class="beta-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper</p>
            </div>
        </div>
    </div>
{% endblock %}
