
/* Google font */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  background-image: url("/bundles/common/images/background.png");
  background-position: top;
  background-repeat: repeat-x;
  background-color: #fcfcfc;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #03638b;
}

h1 {
  font-size: 24px;
  margin-bottom: 7px;
}

h2 {
  font-size: 20px;
  margin-bottom: 7px;
}

.container {
  margin-top: 10px;
  width: 820px;
}

/* Header */

header {
  margin-bottom: 22px;
}

#logo {
  float: left;
  position: relative;
  width: 284px;
  height: 75px;
}

#logo span {
  position: absolute;
  top: 59px;
  right: 17px;
  font-size: 11px;
  color: #616161;
}

nav {
  float: right;
  clear: right;
}

nav ul li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
}

nav ul li a {
  color: #2C2C2C;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

nav ul li a:hover {
  text-decoration: none;
}

#locales {
  float: right;
}

#locales select {
  font-size: 10px;
  height: 18px;
  width: 120px;
  text-align: right;
}

/* Content */

#content {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 48px 20px;
  margin-bottom: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

/* Footer */

footer {
  color: #a1a1a1;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: #616161;
}

footer a:hover {
  color: #616161;
}

footer p {
  margin-bottom: 9px;
}

#sub-menu a {
  margin: 0px 10px;
}

/* Homepage */

.homepage {
  margin-bottom: 21px;
}

.homepage .image {
  width: 350px;
  height: 250px;
}

.homepage-left .image {
  float: right;
}

.homepage-right .image {
  float: left;
}

.homepage-left .content {
  text-align: right;
}

.homepage .content {
  padding-top: 11px;
}

.homepage .content h1 {
  margin-bottom: 15px;
}

.homepage .content p {
  font-size: 14px;
  color: #666;
  line-height: 1.9;
}

/* Blog */

.blog-container {
  width: 560px;
}

.archives-container {
  width: 190px;
}

.archives-container li {
  padding: 7px 0 7px 26px;
  border-top: 1px solid #eaeaea;
  background-image: url("/bundles/common/images/calendar-month.png");
  background-repeat: no-repeat;
  background-position: 3px 8px;
  list-style: none;
}

.archives-container li:last-child {
  border-bottom: 1px solid #eaeaea;
}

article {
  margin-bottom: 16px;
}

article h1 {
  margin-bottom: 0px;
}

article h1 a:hover {
  text-decoration: none;
}

.article-header {
  margin-bottom: 9px;
}

.article-header .subtitle {
  font-size: 11px;
  color: #666;
  margin-top: -5px;
}

.article-content p {
  text-align: justify;
}

.article-content {
  padding-bottom: 4px;
  border-bottom: 1px solid #eaeaea;
}

/* Beta */

.aside-download {
  width: 285px;
  background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(239,239,239,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(239,239,239,0)));
  background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(239,239,239,0) 100%);
  background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(239,239,239,0) 100%);
  background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(239,239,239,0) 100%);
  background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(239,239,239,0) 100%);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

.aside-download .text {
  padding: 0 11px;
}

.aside-download .download {
  text-align: center;
  margin: 11px 0;
}

.aside-download .text p {
  color: #7e7e7e;
  font-size: 14px;
  text-align: justify;
}

.aside-download .version {
  color: #616161;
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
  font-weight: bold;
}