/* Tablettes */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 746px;
  }

  .homepage .content {
    padding-top: 3px;
  }

  .homepage .content h1 {
    margin-bottom: 6px;
  }
}

/* Smartphones */
@media (max-width: 767px) {
  .container {
    width: auto;
  }

  #logo {
    float: none;
    margin: 0 auto;
  }

  #locales {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  nav {
    float: none;
    text-align: center;
    margin-top: 17px;
  }

  nav ul {
    margin: 0px;
  }

  header {
    margin-bottom: 15px;
  }

  .homepage .content h1 {
    text-align: center;
    margin-bottom: 6px;
  }

  .homepage .content {
    text-align: justify;
    padding-top: 3px;
  }

  .homepage .image {
    text-align: center;
  }
}