#menu ul {
    width: 1100px;
}

h1 {
    font-size: 27px;
    font-family: Delicious;
    margin-bottom: 20px;
    font-weight: bold;
}

@font-face {
    font-family: Delicious;
    src: url('/bundles/admin/fonts/Delicious-Roman.otf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('/bundles/admin/fonts/Delicious-Bold.otf');
}

#admin_title {
    color: #0369a8;
    position: absolute;
    top: 42px;
    right: 20px;
    font-size: 33px;
    font-family: Delicious;
    font-weight: bold;
}

#page {
    min-height: 550px;
}

label {
    width: 130px;
}

textarea {
    width: 550px;
    height: 200px;
}

.record_actions button {
    float: none;
    margin-top: 0;
}

.record_actions li {
    display: inline;
    float: left;
    padding: 0 10px 0 0;
}

ul.record_actions {
    margin: 10px 0 0 0 !important;
}

.records_list {
    width: 100%;
    margin-bottom: 15px;
}

.records_list th {
    background-color: #0369a8;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.records_list tr{
    background-color: #f5f5f5;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
}

.records_list td {
    padding: 6px;
}

.records_list tr:hover {
    background-color: #eeeeee;
}

.records_list li {
    display: inline;
}