{% extends "AdminBundle::backend.html.twig" %}

{% block title %}You need to signin please{% endblock %}

{% block page %}
    {% if error %}
        <div class="flash error">
            {{ error.message }}
        </div>
    {% endif %}

    <h1>You need to signin please</h1>

    <form action="{{ path('_login_check') }}" method="post">
    <table id="admin_article" class="form">
        <tr>
            <td class="label">
                <label for="username">Username</label>
            </td>
            <td>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="password">Password</label>
            </td>
            <td>
                <input type="password" id="password" name="_password" />
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="remember_me">Remember</label>
            </td>
            <td>
                <input type="checkbox" id="remember_me" name="_remember_me" />
            </td>
        </tr>
    </table>

        <input type="submit" id="_submit" name="_submit" value="Submit" />
    </form>
{% endblock %}