{% extends "MainBundle::layout.html.twig" %}

{% block content %}
    {# Notifications #}
    <section class="homepage homepage-left clearfix">
        <div class="image">
            <img src="{{ asset('bundles/common/images/homepage/notifications.png') }}" />
        </div>
        <div class="content">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
        </div>
    </section>

    <section class="homepage homepage-right clearfix">
        <div class="image">
            <img src="{{ asset('bundles/common/images/homepage/notifications.png') }}" />
        </div>
        <div class="content">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
        </div>
    </section>

    <section class="homepage homepage-left clearfix">
        <div class="image">
            <img src="{{ asset('bundles/common/images/homepage/notifications.png') }}" />
        </div>
        <div class="content">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
        </div>
    </section>
{% endblock %}
