<div id="locales">
    <select>
    {% for locale in locales %}
        <option{{ locale == request.locale ? ' selected="selected"' : ''}} value="{{ path_locale(request, locale) }}">{{ display_language(locale) }}</option>
    {% endfor %}
    </select>
</div>
