{% extends "MainBundle::frontend.html.twig" %}

{% block title %}Support{% endblock %}
{% block description %}TODO{% endblock %}

{% block content %}
    <div class="support-container clearfix">
        <div class="clearfix">
            <div class="support-action">
                <div class="title clearfix">
                    <img src="{{ asset('/bundles/common/images/support/ic_menu_info_details.png') }}" />
                    <h1>Wiki</h1>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
                </div>
            </div>

            <div class="support-action">
                <div class="title clearfix">
                    <img src="{{ asset('/bundles/common/images/support/ic_menu_notifications.png') }}" />
                    <h1>Bug tracker</h1>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <div class="support-action">
                <div class="title clearfix">
                    <img src="{{ asset('/bundles/common/images/support/ic_menu_allfriends.png') }}" />
                    <h1>Translation</h1>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
                </div>
            </div>

            <div class="support-action">
                <div class="title clearfix">
                    <img src="{{ asset('/bundles/common/images/support/ic_menu_share.png') }}" />
                    <h1>Social networks</h1>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
