{% extends "AdminBundle::backend.html.twig" %}

{% block page %}
    <div id="dashboard">
        <img src="{{ asset('bundles/admin/images/android.png') }}" />

        <h1>{{ 'backend.dashboard.subtitle'|trans }}</h1>
    </div>
{% endblock %}
