<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} - AndroIRC (Android IRC Client)</title>
        <style type="text/css">
            body {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                color: #8A8A8A;
                line-height: 1.5;
            }

            h1 {
                color: #026995;
                font-size: 18px;
            }

            p {
                text-align: justify;
                padding: 0 5px;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
