<!DOCTYPE html>
<html>
    <head>
    {% stylesheets filter="?yui_css" output="css/frontend.css"
        '@AndroBundle/Resources/public/css/bootstrap.css'
        '@AndroBundle/Resources/public/css/layout.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    </head>
    <body>
        <div class="container">
            <header>
                <div id="logo">
                    <img src="{{ asset('bundles/andro/images/logo.png') }}" alt="AndroIRC" />
                </div>

                <nav>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Dowload</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </body>
</html>
