
/* Header configuration */

#header {
    width: 800px;
    margin: auto;
    position: relative;
}

#ads {
    position: absolute;
    top: 30px;
    left: 5px;
}

#social {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 10;
}

#space {
    height: 44px;
    background: url("/bundles/andro/images/header_bottom.png");
}

#logo {
    width: 284px;
    height: 75px;
    float: right;
    margin: 20px 10px 0 0;
    position: relative;
}

/* Content */

#content {
    float: right;
    width: 550px;
}

/* Side bar */

#sidebar {
    float: left;
    width: 230px;
}

.sidebar_box {
    margin-bottom: 20px;
}

.team_member {
    padding: 5px 20px;
}

#facebook {
    margin-bottom: 10px;
}

.app {
    text-align: center;
}

.app .title {
    font-weight: bold;
    font-size: 15px;
}

/* Others */

#page {
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}

#page ul {
    margin: 10px 0 10px 30px;
}

#page li {
    list-style-type: none;
    background-image: url("/bundles/andro/images/puce.png");
    background-repeat: no-repeat;
    background-position: 0 -2px;
    padding-left: 22px;
    display : list-item;
    list-style-position:inside;
    padding-bottom: 2px;
}


#page ol {
    list-style-type: decimal;
}

.flash-notice {
    text-align: center;
    font-weight: bold;
    background-color: #008c00;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}