input[type=submit], input[type=reset] {
    background: #EEE url("/bundles/andro/images/button.png") repeat-x 0px 0px;
    border-color: #999 #999 #888;
    border-style: solid;
    border-width: 1px;
    color: #444 !important;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    padding: 0px 10px;
    text-shadow: white 1px 1px 0px;
}

textarea {
    width:400px;
    height: 100px;
    display: block;
    font-family: Arial, Verdana, serif;
    padding: 7px;
}

input[type=text], input[type=password] {
    padding: 2px;
    width: 214px;
}

select {
    padding: 2px;
}

th {
    padding: 10px;
}

.form_submit {
    text-align: right;
    padding: 10px 0;
}

.form {
    padding-top: 10px;
}

.form .error {
    display:inline-block;
}

.form ul {
    margin:0 !important;
    padding: 0;
    color:#B43F3F;
    border:none;
    font-weight:bold;
}

.form ul li {
    padding: 3px 15px !important;
    list-style:none;
    color:#B43F3F;
    background-image: none !important;
}

.form ul li:before {
    content: '↑ ';
}

.form ul li:after {
    content: ' ↑';
}

.form .datas {
    margin-left: 60px;
}

.form label {
    display:block;
    padding:6px 1em 3px 0;
    text-align:right;
    width:50px;
    font-weight:bold;
    cursor:pointer;
    float: left;
}

.form_row {
    margin-bottom:10px;
}