/* Menu length */

#menu ul {
    width: 300px;
}

#header {
    padding-top: 20px;
    text-align: center;
}

#logo {
    width: 284px;
    height: 75px;
    position: relative;
    margin: 0 auto;
}

#content {
    padding: 10px;
}

#switch {
    text-align: center;
    margin: 10px 0 20px 0;
}

#footer {
    text-align: center;
}

#content ul {
    margin: 10px 0 10px 20px;
}

#content li{
}

#ads {
    text-align: center;
    margin: 10px 0;
}